 h1{

  font-family: Arial;
  color:turquoise;
}

 h2{
  font-family: verdana;
  color:turquoise;
}

p{
 font-family: verdana;
}

body {
    background-color: #33ccff;
}
.main-list li{
 font-size: 25px;
}
 <link rel="stylesheet" href="/style.css" />
