 h1{

  font-family: Arial;
  color:blue;
}

 h2{
  font-family: verdana;
  color:blue;
}

p{
 font-family: verdana;
}

body {
    background-color: #33ccff;
}
<link rel="stylesheet" href="/style.css" />
