 h1{

  font-family: Arial;
  color:blue;
}

 h2{
  font-family: Arial;
  color:purple;
}

p{
 font-family: Arial;
}

body {
    background-color: #40e0d0;
}
.main-list li{
 font-size:25px;
}
 <link rel="stylesheet" href="/style.css" />
